.m-content {
    /* min-height: 30vh; */
    background: white;
    padding: 0px 0px;
}

.m-header {
    height: 350px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 1;
    transition: opacity 1s all;
}

.m-header.fadeOut {
    opacity: 0.4;
}

.m-nav {
    padding: 0 1rem;
}

.m-nav .navbar-brand,
.m-nav .navbar-text {
    padding: 0.8rem 1rem;
}

.m-nav .navbar-nav .nav-link {
    padding: 1rem 1rem;
}

.m-nav .nav-item.active .nav-link,
.m-nav .nav-item:hover .nav-link {
    color: rgba(0, 0, 0, .9);
    background-color: rgb(238, 239, 240);
}

.m-nav .navbar-brand {
    color: rgba(0, 0, 0, .5);
}

.m-nav .navbar-nav>li.dropdown:hover>a,
.m-nav .navbar-nav>li.dropdown:hover>a:hover,
.m-nav .navbar-nav>li.dropdown:hover>a:focus {
    background-color: rgb(231, 231, 231);
    color: rgb(85, 85, 85);
}

.m-nav .dropdown-menu {
    margin-top: 0px;
    border-radius: 0px;
    left: -70px;
}

li.dropdown:hover>.dropdown-menu {
    display: block;
}

.m-box,
.m-box-left,
.m-box-right {
    min-height: 800px;
}

.m-box-right {
    padding-right: 0px;
}

.m-box-right .card-header {
    font-size: 1.10rem;
}

.m-box-right .card-header .svg-inline--fa.fa-w-16 {
    width: 0.80em;
}

.m-box-right .card-header .svg-inline--fa {
    height: 0.80em;
    vertical-align: -0.05em;
}

.my-list a {
    text-decoration: none;
    color: #343a40;
}

.my-list .list-group-item {
    transition: background 0.5s;
}

.my-list .list-group-item:hover {
    background: rgb(230, 230, 230);
    cursor: pointer;
}

.test-question-body h6 {
    padding-bottom: 1.25rem;
}

footer {
    background: #eeeeee;
}

.list-group-item.active {
    background: rgb(230, 230, 230);
    border: rgb(230, 230, 230);
}


/* md reposive */

@media (max-width: 768px) {
    .m-header {
        height: 200px;
    }
}