<div class="col-12">
    <div class="jumbotron" ng-if="$ctrl.isLogin">
        <div class="container">
            <h1 class="display-3">{{$ctrl.subject.Name}}</h1>
            <hr class="my-2">
            <p class="lead">
                <a class="btn btn-primary btn-lg" ng-href="#!test/{{$ctrl.subject.Id}}" role="button">Bắt đầu bài thi</a>
            </p>
        </div>
    </div>

    <div ng-if="!$ctrl.isLogin">
        <p class="h3 text-danger"> Chưa đăng nhập! không thể tiếp tục</p>
    </div>
</div>