<div class="row">
    <div class="col-lg-6 col-12 mb-lg-4 mb-3" ng-repeat="subject in $ctrl.subjects | orderBy: 'Name' | limitTo : $ctrl.pageSize : $ctrl.index">
        <div class="card">
            <div class="card-body d-flex justify-content-center">
                <img ng-src="img/subjects/{{subject.Logo}}" alt="">
            </div>
            <div class="card-footer text-center">
                {{subject.Name}}
            </div>
        </div>
    </div>
</div>

<!-- Pagination -->
<nav aria-label="Page navigation example" class="mt-4 d-flex justify-content-center">
    <ul class="pagination">
        <li class="page-item">
            <a class="page-link" href="" ng-click="$ctrl.first()">
                <i class="fas fa-step-backward"></i>
            </a>
        </li>
        <li class="page-item">
            <a class="page-link" href="" ng-click="$ctrl.prev()">
                <i class="fas fa-backward"></i>
            </a>
        </li>
        <li class="page-item">
            <a class="page-link" href="" ng-click="$ctrl.next()">
                <i class="fas fa-forward"></i>
            </a>
        </li>
        <li class="page-item">
            <a class="page-link" href="" ng-click="$ctrl.last()">
                <i class="fas fa-step-forward"></i>
            </a>
        </li>
    </ul>
</nav>