<!-- Test -->
<div class="card">
    <div class="card-header text-uppercase font-weight-bold">
        <i class="fas fa-th-list"></i> xây dựng trang web
    </div>
    <div class="card-body test-question-body">
        <h6 class="card-title border-bottom">
            <b>1. </b> Trong kỹ thuật chỉnh nâng cao có những kỹ thuật nào
        </h6>
        <p class="card-text">
            <form>
                <div class="custom-control custom-radio mb-2">
                    <input type="radio" class="custom-control-input" id="answer1" name="answer">
                    <label class="custom-control-label" for="answer1">Answers 1</label>
                </div>
                <div class="custom-control custom-radio mb-2">
                    <input type="radio" class="custom-control-input" id="answer2" name="answer">
                    <label class="custom-control-label" for="answer2">Answers 2</label>
                </div>
                <div class="custom-control custom-radio mb-2">
                    <input type="radio" class="custom-control-input" id="answer3" name="answer">
                    <label class="custom-control-label" for="answer3">Answers 3</label>
                </div>
                <div class="custom-control custom-radio">
                    <input type="radio" class="custom-control-input" id="answer4" name="answer">
                    <label class="custom-control-label" for="answer4">Answers 4</label>
                </div>
            </form>

        </p>
    </div>
    <div class="card-footer text-muted text-uppercase">
        mark: 0/100
    </div>
</div>