<!-- Test -->
<p class="h1 text-center mb-5" ng-if="ctrl.timer.minutes && ctrl.timer.seconds && ctrl.timer.value >= 0">
    Thời gian còn lại : <span ng-bind='ctrl.timer.minutes'></span> Phút <span ng-bind="ctrl.timer.seconds"></span> giây</p>

<button class="btn btn-danger btn-lg m-3" ng-click="ctrl.finish(ctrl.subject.Id)">Kết thúc kiểm tra</button>
<div class="card" ng-repeat='qs in ctrl.questions | limitTo : ctrl.step : ctrl.index'>
    <div class="card-header text-uppercase font-weight-bold">
        <i class="fas fa-th-list"></i> {{ctrl.subject.Name}}
    </div>
    <div class="card-body test-question-body">
        <h6 class="card-title border-bottom">
            <b>{{ctrl.index + 1}}. </b> {{qs.Text}}
        </h6>
        <p class="card-text">
            <form>
                <div class="custom-control custom-radio mb-2" ng-repeat="as in qs.Answers">
                    <input ng-model="ctrl.myAnswers[ctrl.index]" type="radio" class="custom-control-input" id="answer{{as.Id}}" ng-value="{{as.Id}}" name="answer">
                    <label class="custom-control-label" for="answer{{as.Id}}">{{as.Text}}</label>
                </div>
            </form>

        </p>
    </div>
    <div class="card-footer text-muted text-uppercase">
        mark: 0/100
    </div>
</div>

<!-- Pagination -->
<nav aria-label="Page navigation example" class="mt-4 d-flex justify-content-center">
    <ul class="pagination">
        <li class="page-item">
            <a class="page-link" href="" ng-click="ctrl.first()">
                <i class="fas fa-step-backward"></i>
            </a>
        </li>
        <li class="page-item">
            <a class="page-link" href="" ng-click="ctrl.prev()">
                <i class="fas fa-backward"></i>
            </a>
        </li>
        <li class="page-item">
            <a class="page-link" href="" ng-click="ctrl.next()">
                <i class="fas fa-forward"></i>
            </a>
        </li>
        <li class="page-item">
            <a class="page-link" href="" ng-click="ctrl.last()">
                <i class="fas fa-step-forward"></i>
            </a>
        </li>
    </ul>
</nav>